*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-weight: bold;
}

body{
    background-color: #3D4247;

}
.formBody{
    width: 80%;
    height: 80vh;
    border-radius: 3%;
    background-color: white;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formContent{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    display:flex;
}
.formElement{
    margin: 1rem;
    text-align: left;
}

.formContent h1{
    left: 50%;
    width: 80%;
    font-size: 500%;
    margin-bottom:3rem;
}
.formContent p{
    margin: 30px;
    font-size: 1.5rem;
}
